<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
    <b>SKINESSENTIALS</b>
    </a>

  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

      <div class="navbar-item"><%= link_to 'Home', root_path %></div>
  <div class="navbar-item">

 <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
         <%= link_to 'Our Products', products_index_path %>
        </a>




        <div class="navbar-dropdown">
         <% categories = Category.all %>
         <% categories.each do |c| %>
            <a class="navbar-item p-2">
            <%= link_to c.name, c %>
          </a>

        <%end%>

        </div>
      </div>
    </div>

      </div>

      <div class="navbar-item"><%= link_to 'About Us', root_path %>
      </div>

      <div class="navbar-item"><%= link_to 'Contact Us', root_path %></div>


      </div>



  </div>
</nav>