<div class="card m-5 " style="width:21%;float:left;height:400px">
<%if product.image.present? %>
  <div class="card-image">
    <figure class="image is-5by3">
      <%= image_tag url_for(product.image) %>
    </figure>
  </div>
  <%end%>
  <div class="card-content">

  <p class="title "style="font-size:15px"><%= link_to product.name, product %></p>
   <p class="description">Brand: <%= product.brand %></p>
   <% if product.sale_price.present? %>
    <p class="subtitle" style="font-size:15px">Price: <strike><%= number_to_currency(product.price) %></strike> <span style="color:red"><%= product.sale_price %></span></p>

        <% else%>
         <p class="subtitle " style="font-size:15px">Price: <%= number_to_currency(product.price) %></p>
  <%end%>

<% if cart.include?(product)%>
    <%= button_to cart_path(product), method: :delete do %>
      ➖ Remove from cart
      <% end %>
<%else%>
    <%= form_with url: cart_index_path, method: :post do %>
        <%= hidden_field_tag(:id, product.id)%>
        <%= button_tag '➕ Add to Cart', class: "p-2"%>
      <% end %>
<%end%>

 <%= form_with url: checkout_create_path, remote: true do %>
      <% hidden_field_tag(:product_id, product.id) %>
      <% button_tag 'Buy Now 💳' ,class: "mt-2"%>
    <% end %>


  </div>
</div>