<!DOCTYPE html>
<html>
  <head>
    <title>Fp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  </head>

  <body>
   <section class= "container">
<%= render partial:'shared/header'%>
<nav class="breadcrumb" style= "display: flex">
    <%= breadcrumbs(params[:controller], params[:action]) %>
  </nav>

<nav class="navbar-end">

        <ul>
          Cart
          <sup><%= cart.size %></sup>
          <li>
            <% if cart.present? %>


              <ul>
                <% cart.each do |p| %>
                  <li>
                    <%= p.name %> <%= button_to '−', cart_path(p), method: :delete %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        </ul>
      </nav>


<nav>



<% if flash[:notice] %>
        <p>
          <%= flash[:notice] %>
        </p>
      <% end %>


    <%= yield %>
    </section>

  </body>
</html>

