<!DOCTYPE html>
<html>
  <head>
    <title>Fp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
  </head>

  <body>
   <section class= "container">
<%= render partial:'shared/header'%>
<nav class="breadcrumb" style= "display: flex">
    <%= breadcrumbs(params[:controller], params[:action]) %>
  </nav>
<%= debug session[:shopping_cart]%>
<% if flash[:notice] %>
        <p>
          <%= flash[:notice] %>
        </p>
      <% end %>

<nav>

        <ul>
          <li>
            Cart
            <% if cart.present? %>
            <sup>
              <%= cart.size %>
            </sup>
            <ul>
              <% cart.each do |product| %>
              <li>
                <%# product.name %><%# link_to 'âˆ’', cart_path(product), method: :delete %>
                <%# button_to cart_path(product), method: :delete do %>
                <%= product.name %><%= button_to 'â–', cart_path(product), method: :delete  %>
              </li>
              <% end %>
            </ul>
            <% end %>
          </li>
        </ul>
      </nav>




    <%= yield %>
    </section>

  </body>
</html>

